.charts-container {
    text-align: center;
    margin-left: 20%;
  }
  
  .chart-wrapper {
    background-color: white;
    width: 60%;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  .filter-label{
    color:rgb(126, 50, 0);
    font: 1em sans-serif;
    font-weight: bolder;
  }